<div id="topbar">
<button>More</button><form method="POST" action="/login/library">
   <input type="text" name="email" value="<%= student.email %>" style="visibility: hidden;"><button>library</button>
</form>
</div>
<style>
#topbar{
  width:100%;
  top:0px;
  position:fixed;
  background-color: beige;

}
#topbar *{
  margin-left: 10%;
  margin-right: 10%;
}
#topbar::after{
  top:50px;
}
</style>
