<div>
  <link rel="stylesheet" href="/cpp.css">
  <h2>Arrays in C++ | Declare | Initialize | Pointer to Array Examples
   </h2>
   <p>
    <b>What is an Array?</b>
    An array is a data structure that stores an element of the same data type sequentially. A C++ array has a fixed-size.
    
   </p>
   <h3>
     
Array Initialization</h3>
<p>Array initialization is the process of assigning/storing elements to an array. <br>
  Let us use the age array to demonstrate how array initialization can be done:
 </p>
 <div id="code">
  int age[5] = {19, 18, 21, 20, 17};
 </div>
 <h3>Types of Arrays
  
  </h3>
  <p>
    There are two types of C++ arrays:
  </p>
    <h4>•	One dimensional Array</h4>
    <div id="code">
      For example:
<p>#include <iostream><br>
  using namespace std;<br></p>
int main()<br>
{<br>
	<p>int age[5] = { 19, 18, 21, 20, 17 };<br>
    for (int x = 0; x < 5; x++)</p><br>
	{<br>
		cout <<age[x]<<"\n";<br>
	}

    </div>
    <h2>•	Multi-dimensional Array</h2>
  <div id="code">
   <p> #include <iostream><br>
    using namespace std;</p><br>
      int main() <br>
      {<br>
    <p>    // a 2x3 array<br></p>
        int a[3][2] = { {0, 2}, {1, 4}, {3, 7} };<br>
        <br>
       <p> // traverse array elements<br></p>
        <br>
        for (int i=0; i<3; i++)<br>
          for (int j=0; j<2; j++) <br>
          <br>
          {<br>
            <p>cout << "a[" <<i<< "][" <<j<< "]: ";<br>
              cout << a[i][j] << endl</p>;<br>
          }<br>
        return 0;<br>
      }
    </div>
      
    <h3>•	Pointer to an Array;</h3>
    <div  id="code">
      <p>#include <iostream><br>
        using namespace std;</p><br>
        int main()<br>
        {<br>
          int *john;<br>
          <br>
          <p>int age[5] = { 19, 18, 21, 20, 17 };</p><br>
          <br>
          john = age;<br>
          <br>
          cout << john << "\n";<br>
          <br>
          <p>cout << *john; </p><br>
          }
        
    </div>

  
</div>
