<div>
  <link rel="stylesheet" href="/cpp.css">
  <h2>Char Data Type </h2>
  <p>Char is a C++ data type designed for the storage of letters. Char is an acronym for a character. It is an integral <br>data type, meaning the value is stored as an integer. A char takes a memory size of 1 byte. It also stores a single <br>character.</p>
  <p>Here is the syntax for char declaration in C++:<br>
    char variable-name;<br>
    The variable-name is the name to be assigned to the variable.<br>
    If a value is to be assigned at the time of declaration, you can use this syntax:<br>
    char variable-name = 'value';	<br>
    The variable-name is the name of the char variable.<br>
    The value is the value to be assigned to the char variable.
    
    </p>
    <div id="code"><br>
     <p> #include <iostream><br>
      using namespace std;</p><br>
        int main() {<br>
          char grade = 'B';<br>
          <p>cout << "I scored a: "<<grade;</p><br>
          return 0;<br>
        }
        
    </div>
</div>
