<div>
  <link rel="stylesheet" href="/cpp.css">
  <h2>Comments
    </h2>
    <p>Comments are the portions of the code ignored by the compiler. It allows the programmer to make notes in the <br> relevant areas of the source code/program. Comments come either in block form or single lines.<br> The program comments are explanatory statements.<br> It can be included in the C++ code which helps anyone reading its source code. <br>All programming languages allow some form of comments.<br> C++ supports both single-line and multi-line comments.</p>
  <div id="code">
    <p>
      Single-line comments are the ones which start with // and continue until the end of the line. If the last character in a comment line is <br>a \ then the comment will continue in the next line.<br>
Multi-line comments are the ones which start with /* and end with */.<br>
/* This is a comment */<br>
/* C++ comments can  also <br>
* span multiple lines <br>
*/

    </p>
  </div>
</div>
