<div>
  <link rel="stylesheet" href="/cpp.css">
  <h2>C++ Programming:</h2>
  <p> C++ is a general-purpose, object-oriented programming language. It was created by Bjarne </p>
<p>But C++ is a general-purpose language. It well deserves the widely acknowledged nickname <br>"Swiss Pocket Knife of Languages."</p>
<h3>
  Five Basic Concepts of C++
</h3>
<h4>1.	C++ Variables</h4>
<p>Variables are the backbone of any programming language.<br>
  A variable is merely a way to store some information for later use. <br>We can retrieve this value or data by referring to a "word" that will describe this information.<br>
  Once declared and defined they may be used many times within the scope in which they were declared.</p>
<h4>2.	C++ Control Structures.</h4>
<p>When a program runs, the code is read by the compiler line by line (from top to bottom, <br>and for the most part left to right). This is known as "code flow."</p>

<h4>3.	C++ Data Structures.</h4>
<p>Let's use a list of courses on "guru99" as the example! You probably have a list of courses in front of you.<br> But how do you think they stored that. There can be a lot of courses,<br> and different users may register for different courses. Do they generate a different variable for each user? For example,<br> let's say we need to keep track of 10 courses.</p>

<h3>4.	C++ Syntax
  </h3>
<p>So, syntax in a programming language is much the same. They are some well-defined set of <br>rules that allow you to create some piece of well-functioning software.<br>
  But, if you don't abide by the rules of a programming language or syntax, you'll get errors.</p>
   <h3>
    5.	C++ Tools
   </h3>
   <p>In the real world, a tool is something (usually a physical object) that helps you to get a certain job done <br>promptly.<br>
    Well, this holds true with the programming world too. A tool in programming is <br>some piece of software which when used with the code allows you to program faster.</p>
    <h3>Use of C++ Programming Language</h3>
    <p>
     -  Operating System.<br>
     <br>
     •	Games<br>
     <br>
     •	Browsers:<br>
     <br>
     •	Libraries:<br>
     <br>
     •	Graphics:
     <br>
     <br>
     •	Banking Applications:
     <br>
     <br>
     •	Cloud/Distributed Systems:
     <br>
     <br>
     •	Embedded Systems:
     <br><br>
     •	Compilers:
    </p>
    <h2>Hello World Program in C++</h2>
    <div id="code">
      <p>
        #include<iostream>    <br>
          using namespace std;
      </p>   <br> 
        int main()   <br> 
        {    <br>
           <p> cout<<"Hello World"<<endl;</p>   <br> 
            return 0; <br>
        }    
        
    </div>
</div>
