<div>
  <link rel="stylesheet" href="/cpp.css">
  <h2>Switch Case Statement.</h2>
  <p>The switch statement helps in testing the equality of a variable against a set of values.<br> Each value under comparison is known as a case.</p>
  <div id="code">
    <h4>Syntax</h4>
    switch (variable)<br>
{<br>
    <p>
      case 1: <br>
        break;<br>
    case 2:<br>
        break;<br>
    default: <br>
    </p>
}

  </div>
  <div id="code">
    <h3>Example</h3>
    <p>#include<iostream> <br>
      using namespace std;</p><br>
      int main()<br>
      {<br>
        int x = 20;<br>
        switch (x)<br>
        {<br>
        <p>
          case 10: <br>
          cout<<"X is 10"; break;<br>
          <br>
        case 20: <br>
          cout << "X is 20"; break;<br>
          <br>
        case 30: <br>
        cout << "X is 30"; break;<br>
        <br>
        default: <br>
          cout<<"X is not 10, 20 or 30"; break;<br>
          <br>
        }<br>
        </p>
        return 0;<br>
      }
            
  </div>
</div>
