<div>
  <link rel="stylesheet" href="/cpp.css">
  <h2>C++ Variables and Types: </h2>
  <p>
    
Here are the basic types of C++ variables:<br>
<br>
Int:
An integer is a numeric literal (associated with numbers) without any fractional or exponential part. Example. 120, -90, etc.<br>
<br>
Double:
It is a double-precision floating point value. Example: 11.22, 2.345<br>
<br>
Char:
A character literal is created by enclosing a single character inside single quotation marks. For example: 'a', 'm', 'F', 'P', '}' etc.<br>
<br>
Float:<br>
A floating-point literal is a numeric literal that has either a fractional form or an exponent form. For example: 1.3, 2.6<br>
<br>
String Literals:<br>
A string literal is a sequence of characters enclosed in double-quote marks. For example: "How are you?"<br>
<br>
Bool:<br>
It holds Boolean value true or false.

  </p>
  <h3>Rules of Declaring Variables in C++</h3>
  <p>
    •	A C++ variable name can only have alphabets, numbers, and underscore.<br>
•	A C++ variable name cannot begin with a number.<br>
•	Variable names should not begin with an uppercase character.<br>
•	A variable name used in C++ cannot be a keyword. For example, int is a keyword that is used to denote integers.<br>
•	A C++ variable name can start with an underscore. However, it is not considered a good practice.<br>

  </p>
  <h3>
    
Variable Name or Identifier
  </h3>
  <p>
    Identifiers can be composed of some letters, digits, and the underscore character or some combination of them. <br>No limit is imposed on name length.<br>
    Identifiers must begin with either a letter or an underscore ('_').<br>
    And are case-sensitive; upper and lowercase letters are distinct:<br>
    // defines four different int variables<br>
    The C++ language has reserved some names for its use.<br>
    Variable names are usually lowercase<br>
The classes we define usually begin with an uppercase letter.

  </p>
  <div id="code">
    <h3>
      C++ Variable Declaration and Definition
    </h3>
    <p>
      A declaration of a variable makes a name known to the program in the scope in which it is defined. Example:<br></p>
      int a=5;<br>
      int b;<br>
      char c='A'; <br>
      int a,b;<br>
      a=b=1000;<br>
     <p> List initialization<br>
      int a(5);<br>
      int b{5};<br>
      Const Qualifier in C++
    </p>
  </div>
</div>
