<div>
  <link rel="stylesheet" href="/cpp.css">
  <h2>do…while loop </h2>
  <p>The do-while loop iterates a section of the C++ program several times. In the do-while loop,<br> test expression is added at the bottom of the loop. The loop body comes before the test expression. <br>That's why the loop body must execute for once, even when test expression evaluates to false in the first test.</p>
  <div id="code">
    <h4>Syntax</h4>
    do{    <br>
      <p>
        //code <br>
      }while(condition); 
      </p> <br>
      
  </div>
  <div id="code">
    <h4>Example</h4>
   <p> #include <iostream><br>
    using namespace std;</p><br>
      int main() {<br>
        // Local variable <br>
        int x = 1;<br>
        do {<br>
          <p>cout << "X is: " << x << endl;</p><br>
          x = x + 1;<br>
        } while (x < 5);<br>
        return 0;<br>
      }
      
  </div>
</div>
