<div id="content">
  <link rel="stylesheet" href="/node.css">
  <h2>Node.js </h2>
  <p>Node.js is an open source server environment.
    Node.js allows you to run JavaScript on the server.
  </p>
  <p>Our "Show Node.js" tool makes it easy to learn Node.js, it shows both the code and the result.</p>
  <div id="code">
    <h4>Sample</h4>
    var http = require('http'); <br>
 <br>
http.createServer(function (req, res) { <br>
  <p>res.writeHead(200, {'Content-Type': 'text/plain'}); <br>
    res.end('Hello World!'); <br></p>
}).listen(8080); <br>

  </div>
</div> 
