<!-- the header section -->

        <div class="header">

            <h1>SCOLAR ACA<b style="color:rgb(20, 240, 20);">DEMY.COM</b></h1>

            <!-- login -->

            <div class="login">
                <a href="/login" id="login">LOGIN</a>
                <a href="/register" id="register">Register</a>
            </div>


            <!--end of login section -->

            <!-- the navigation section -->
            <div class="home1">
                <a href="/info/about">ABOUT US </a>
            <a href="/info/contact">CONTACT US</a>
            <a href="/info/help">HELP DESK</a>
            </div>
            <!-- end of navigation -->
        </div>

        <!-- end of header section -->
