<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholar Academy |
        <%= title %>
        <% console.log(title)%>
    </title>

    <!--the external links section-->

    <link rel="shortcut icon" href="/fav-icon.jpg">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/all.min.css">
    <link rel="stylesheet" href="/side.css">
    <link rel="stylesheet" href="/learn.css">
    <script src="/warn.js"></script>
</head> 
