<div>
  <link rel="stylesheet" href="/es6.css">
  <h1>ES6 </h1>
<p>
  ECMAScript 6 was the second major revision to JavaScriptECMAScript 6 is also known as ES6 and ECMAScript 2015. <br>
JavaScript let <br>
The let keyword allows you to declare a variable with block scope.
</p>


<div id="code">
  var x = 10; <br>
<p>// Here x is 10 <br></p>
{ <br>
  let x = 2; <br>
 <p> // Here x is 2 <br></p>
} <br>
<p>// Here x is 10</p>
</div>
<h2>Arrow Functions</h2>
<p>
  Arrow functions allows a short syntax for writing function expressions.
<br>
<br>
You don't need the function keyword, the return keyword, and the curly brackets.
</p>


<div id="code">
 <p> // ES5 <br></p>
var x = function(x, y) { br
  <br>
   return x * y; <br>
} <br>
 <br>
<p>// ES6 <br></p>
const x = (x, y) => x * y; <br>

</div>

<div id="code">
 <h3> Example</h3>
const x = (x, y) => { return x * y }; <br>
The For/Of Loop <br>
<p>The for/of loop has the following syntax:</p> <br>
<br>
for (variable of iterable) { <br>
  <p>// code block to be executed <br></p>
}

</div>


</div>
