<div>
  <link rel="stylesheet" href="/es6.css">
  <h2>JavaScript Classes</h2>
<p>JavaScript Classes are templates for JavaScript Objects. <br>
  Syntax</p>
<div id="code">
  class ClassName { <br>
    <p>constructor() { ... }</p> <br>
  } <br>
  <h3>Example</h3>
  class Car { <br>
    constructor(name, year) { <br>
      <p>this.name = name; <br>
        this.year = year;</p> <br>
    } <br>
  }
</div>
The example above creates a class named "Car".
<br>
The class has two initial properties: "name" and "year".
 <br>
Using a Class  <br>
When you have a class, you can use the class to create objects:

<div id="code">
  <h4>Sample</h4>
<p>let myCar1 = new Car("Ford", 2014); <br>
  let myCar2 = new Car("Audi", 2019); </p>
</div>

</div>
