<div>
  <link rel="stylesheet" href="/es6.css">
  <h2>New Math Methods</h2>
<p>ES6 added the following methods to the Math object:</p>

<h3>
  Math.trunc() <br>
Math.sign() <br>
Math.cbrt() <br>
Math.log2() <br>
Math.log10() <br>
</h3>

<div id="code">
  
<h3>
  The Math.trunc() Method <br>
Math. trunc(x) returns the integer part of x:
</h3>

<h4>Sample</h4>
Math.trunc(4.9);    // returns 4 <br>
Math.trunc(4.7);    // returns 4 <br>
Math.trunc(4.4);    // returns 4 <br>
Math.trunc(4.2);    // returns 4 <br>
Math.trunc(-4.2);    // returns 4 <br>

</div>

<div id="code">
 <h2> The Math.sign() Method</h2>
<p>Math.sign(x) returns if x is negative, null or positive:</p>

<h4>Sample</h4>
Math.sign(-4);   <p> // returns -1</p> <br>
Math.sign(0);    <p>// returns 0 </p><br>
Math.sign(4);  <p>  // returns 1 <br></p>


</div>
<div id="code">
  <h3>The Math.cbrt() Method</h3>
<p>Math.cbrt(x) returns the cube root of x:
  );</p>

Math.cbrt(8); //eturns 2 <br>
Math.cbrt(64);    // returns 4 <br>
Math.cbrt(125);    // returns 5 <br>

</div>
<div id="code">
 <h3> The Math.log2() Method <br></h3>
 <p> Math.log2(x) returns the base 2 logarithm of x:</p>

Math.log2(2);   <p> // returns 1</p> <br>
The Math.log10() Method <br>
<p>Math.log10(x) returns the base 10 logarithm of x:</p> <br>


<h3>Math.log10(10);</h3>    // returns 1 <br>
New Number Properties <br>
<p>ES6 added the following properties to the Number object:</p> <br>

</div>

</div>
