<div>
  <link rel="stylesheet" href="/java.css">
  <h2>Java Switch-Case Statement.</h2>
  <p>We all use switches regularly in our lives. Yes, I am talking about electrical switches we use for our lights and fans.</p>
  <h3>What is Switch Case in Java?</h3>
  <p>Similarly, switch in Java is a type of conditional statement that activates only the matching condition out of the given input.</p>
  <h5>Switch Example</h5>
  <div id="code">
    <span class="class">class</span> <span class="class-name">switchBoard</span>{ <br>
      public static void main(String args[]){ <br>
        int iSwitch=4; <br>
        switch(iSwitch){ <br>
          case 0: <br>
          System.out.println("ZERO"); <br>
          break; <br>
          <br>
          case 1: <br>
         <span class="class-name"> System.out.println("ONE");</span> <br>
          break; <br>
          <br>
          case 2: <br>
          System.out.println("TWO"); <br>
          break; <br>
          <br>
          case 3: <br>
          System.out.println("THREE"); <br>
          break; <br>
          <br>
          case 4: <br>
          System.out.println("FOUR"); <br>
          break; <br>
          <br>
          default: <br>
          System.out.println("Not in the list"); <br>
          break; <br>
      } <br>
     } <br>
     } <br>
     Output: <br>
     FOUR
     
  </div>
</div>
