<div>
    <link rel="stylesheet" href="/java.css">
    <h2>Java Variables and Data </h2>
    <h5>What is a Variable in Java?</h5>
    <p>is a data container that stores the data values during Java program execution. </p>
    <h5>In order to use a variable in a program you to need to perform 2 steps</h5>
    <ol>
        <li>Variable Declaration</li>
        <li>Variable Initialization</li>
    </ol>
    <h4>Variable Declaration</h4>
    <p>To declare a variable, you must specify the <br> data type & give the variable a unique name. <br>eg.
    </p>
    int a,b,c;
    <br> float pi;
    <br> double d;
    <br> char a;

    <h4>Variable Initialization</h4>
    <p>To initialize a variable, you must assign it a valid value.
        <br>eg.
        <br> pi =3.14f;
        <br> do =20.22d;
        <br> a=’v’;
        <br>
    </p>
    <h3>Type of variables in Java</h3>
    <ol>
        <li>Local Variables.</li>
        <li>Instance Variables.</li>
        <li>Static Variables.</li>
    </ol>
    <h4>Example: Types of variables in java</h4>
    <div id="code">
        <span class="class">class Solo</span> { <br>
        <span class="class-name"> static int a = 1; //static variable <br> 
      int data = 99; //instance variable  <br>
      void method() { <br>
          int b = 90; //local variable  <br>
      } <br></span> }
        <h2>What is Data Types in Java?</h2>
        <p>Data Types in Java are defined as specifiers that allocate different sizes and types of values that can be stored in the variable or an identifier</p>
        <h5>Data types in Java can be divided into two parts :</h5>
        <ol>
            <li>1. Primitive Data Types :- which include integer, character,<br> boolean, and float.</li>
            <li>2. Non-primitive Data Types :- which include classes,<br> arrays and interfaces.</li>
        </ol>

    </div>
</div>
