<html>
  <body>
    <div>
      <link rel="stylesheet" href="/java.css">
      <h1>JAVA PROGRAMMING LANGUAGE</h1>
      <h2>Introduction To Java</h2>
      <p>Java is a class-based object-oriented programming language for building web and desktop applications. It is the most popular programming language and the language of choice for Android programming.
      </p>
      <h4>How to create your first program</h4>
     <h5>You need the following software to create your first program</h5>
     <ol>
       <li>The Java Development kit <br>
       (version of your choice) <br></li>
       <li>A Text Editor (of your choice)
         <ul>
           <li>Notepad</li>
           <li>Notepad++</li>
           <li>Eclipse</li>
           <li>Sublime Text</li>
         </ul>
       </li>
     </ol>
     <div id="code">
      <span class="class">class A</span>{ <br>
        <h3>Public static void main</h3></ (String args[]){ <br>
            System.out.println ("Hello World"); <br>
        } <br>
       }
       
     </div>
    </div>
  </body>
</html>
