<div>
  <link rel="stylesheet" href="/java.css">
  <h2>Packages in Java.</h2>
  <h3>What is Package in Java?</h3>
  <p>PACKAGE in Java is a collection of classes, sub-packages, and interfaces. It helps organize your classes into a folder structure and make it easy to locate and use them. More importantly, it helps improve code reusability.</p>
  <h5>Syntax</h5>
  <div id="code">
    package nameOfPackage;
  </div>
  <h3> How to Create a package?</h3>
  <p>•	Choose the name of the package <br>
    •	Include the package command as the first line  of code in your Java Source File. <br>
    •	The Source file contains the classes, 
    interfaces, etc you want to include in the  package<br>
    •	Compile to create the Java packages
    </p>
    <h5>A package Program</h5>
    <div id="code">
      package p1;

      <span class="class">class</span> c1(){ <br>
public void m1(){ <br>
System.out.println("m1 of c1"); <br>
} <br>
<span class="class-name">public static void main(string args[]){ <br>
  c1 obj = new c1();</span> <br>
obj.m1(); <br>
} <br>
}

    </div>
</div>
