<div>
  <link rel="stylesheet" href="/java.css">
  <h2>Java String</h2>
  <h4>What are Strings?</h4>
  <p>A string in literal terms is a series of characters. eg. <br>
  ROSE. </p>
  <h5>syntax</h5>
  <div id="code">
    //String is an array of characters <br>
char[] arrSample = {'R', 'O', 'S', 'E'}; <br>
<span class="class-name">String strSample_1 = new String (arrSample)</span>; <br>

  </div>
  <p>Now we always cannot write our strings as arrays; hence we can define the String in Java as follows:</p>
  <div id="code">
    //Representation of String <br><span class="class-name">String strSample_2 = "ROSE";</span><br>


  </div>
  <p>If a number is quoted in “ ” then it becomes a string, not a number anymore. That means  <br>
    String S1 ="The number is: "+ "123"+"456"; <br>
    System.out.println(S1); <br>
    then it will print: The number is: 123456
    </p>
</div>-
